{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "react-native",
    "detox",
    "jest"
  ],
  "rules": {
    "semi": [
      2,
      "never"
    ],
    "jsx-quotes": [
      "error",
      "prefer-single"
    ],
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "no-return-assign": 0,
    "no-nested-ternary": 0,
    "padded-blocks": 0,
    "jsx-a11y/href-no-hash": 0,
    "no-use-before-define": 0,
    "padding-line-between-statements": 0,
    "new-cap": 0,
    "class-methods-use-this": 0,
    "react/forbid-prop-types": 0,
    "global-require": 0,
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 0,
    "react-native/no-inline-styles": 0,
    "react-native/no-color-literals": 0,
    "no-underscore-dangle": 0
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "globals": {
    "fetch": true,
    "__DEV__": true
  },
  "env": {
    "jest/globals": true
  }
}
